<% provide(:title, 'About') %>
<h1>About</h1>
<p class="lead offset2 span8 offset2">"Sometimes, the economist could learn overlook an... or the biotech genius could learn something from the kid in Bio 101..."</p>
<p>
	(TANK Description)	
</p>
