<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	Have an idea? We're always open to new ideas!
	Want to join our team as a moderator? Let us know your field of expertise.
	Provide e-mail and contact form
</p>