<% provide(:title, 'Vision') %>
<h1>Our Vision</h1>
<em class="lead span8 offset2">"Sometimes, the biotech genius could learn something from the kid in Bio 101, or the World Bank economist could benefit from hearing the perspective of a student in introductory microeconomics."</em>

<br><br><br><br><br><br>

<p>Our world is far from perfect, with people throughout the globe facing issues ranging from climate change to poverty, and everything in between. Although experts have devoted countless resources to tackling such problems, solutions remain elusive. While these experts often have multiple degrees and years of experience in their field, years of specialized training may cause them to lose their creative edge and overlook simple solutions. Sometimes, the biotech genius could learn something from the kid in Bio 101, or the World Bank economist could benefit from hearing the perspective of a student in introductory microeconomics.  The solution?  An online, collaborative think tank specifically for college students.  While there are currently hundreds of think tanks in the US, the majority of them focus heavily on published research, and none of them are specifically targeted to college students in an online, discussion-based environment.</p>  

<p>TANK is initially starting with three forums: poverty, forum 2, and forum 3.  Within each topic, a series of problems/predicaments are presented (for example, what’s the most efficient way to make sure every poor child in Africa has a malaria net?), and students provide  a possible solution to the problem by simply “posting” his or her idea, that way the people who don’t want to put the time/effort into writing an official paper, getting it published, etc., can still share their ideas and thoughts with the world.  Each post will initially be limited to 99 words, requiring the responses to be concise and to-the-point, fostering a productive and conducive environment.  However, professors and experts (who will be recruited to participate in the site) are able to “thumbs up” a post.  If a post receives a thumbs up, the student will be provided additional wordage to further his or her thoughts.  Each topic has a moderator, and the moderator will read over all the responses received, making sure only legitimate ones are posted to the site.</p>

<p>The alpha version of the site is being launched with students at Yale and Harvard (only these students can post, but the public can view), but will eventually be opened to many more colleges. We are currently seeking partnerships with organizations like the UN and Google, so that the students who come up with the best ideas can be put in touch with and collaborate with these organizations in order to implement their solutions to the world’s most pressing problems.</p>

<br>

<em class="lead span8 offset2">TANK provides the country's brightest college students a platform upon which they can share their ideas for making the world a better place.</em>

<br><br><br>