@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

html {
	overflow-y: scroll;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
	em {
		color: $gray;
	}
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
}

h1 {
	font-size: 3em;
	letter-spacing: -2px;
	margin-bottom: 20px;
	text-align: center;
}

h2 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

h5 {
	font-size: 1.2em;
	letter-spacing: -1px;
	margin-bottom: 0;
	text-align: center;
	font-weight: normal;
	color: $grayLight;
}

p {
	font-size: 1.1em;
	line-height: 1.7em;
}

/* header */

#logo {
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1; 
}

#logo:hover {
	background-color: #000;
	text-decoration: none; 
}

.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.6);
    border-bottom: 1px solid rgb(95, 95, 95);
    border-top: 1px solid rgb(95, 95, 95);
    border-radius: 10px;
}

.navbar-wrapper {
	position: relative;
	z-index: 15;
}

.navbar {
	margin-right:20px;
}

.navbar-inner {
  font-weight: bold;
  padding-top:5px;
  padding-bottom:5px;
  .pull-right li:last-child {
  	margin-right:20px;
  	ul li {
  		margin-right: 0px;
  	}
  }
}

nav {
	color: #fff;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;

  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top: -90px;
}

.carousel-caption {
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 30px;
  color: white;
  text-align: center;
  text-shadow: 2px 3px 2px #000;
  background: none;
  .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}

.carousel-indicators {
	left:48%;
	margin-top: 480px;
	bottom: 10px;
}

/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $grayMediumLight;
	color: $grayLight;
	a {
		color: $gray;
		&:hover {
			color: $grayDarker;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

