<% provide(:title, 'Moderators') %>
<h1>Our Moderators</h1>

<ul class="users">
  <% @users.each do |user| %>
  	<% if user.mod? %>
    	<li>
    	  <div class="row">
    	  	<div class="span2"><%= gravatar_for user, size: 140 %></div>
    	  	<div class="span10">
    	  		<h3><%= user.name %></h3>
    	  		<p>Moderator Bio (pic should show their face)</p>
    	  	</div>
    	  </div>
    	</li>
    <% end %>
  <% end %>
</ul>