<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>Name: </p><p><%= @message.name %><br/></p>
  	<p>Email: </p><p><%= @message.email %><br/></p>
  	<p>Subject: </p><p><%= @message.subject %><br/></p>
    <p>Message:</p><p><%= @message.message %><br/></p>
  </body>
</html>
