<div id="homeslider" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#homeslider" data-slide-to="0" class="active"></li>
    <li data-target="#homeslider" data-slide-to="1"></li>
    <li data-target="#homeslider" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    
    <div class="item active">
      <img src="/assets/globe_temp.jpg" alt="Globe">
      <div class="container">
        <div class="carousel-caption">
          <h1>Welcome to TANK</h1>
          <p class="lead">The only online, collaborative think tank for college students.</p><br>
          <% if !signed_in? %>
            <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
          <% else %>
            <%= link_to "Contribute to Forums", forums_path, class: "btn btn-large btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="/assets/poverty_temp.jpg" alt="Poverty">
      <div class="container">
        <div class="carousel-caption">
          <h1>Every 3.6 seconds, somebody starves to death</h1>
          <p class="lead">What can we do to make a difference?</p><br>
          <%= link_to "Visit the Poverty Forum", forums_path(1), class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="/assets/harvard_temp.jpg" alt="College">
      <div class="container">
        <div class="carousel-caption">
          <h1>Yale and Harvard</h1>
          <p class="lead">For the first time, are teaming up in pursuit of a common goal: to brainstorm solutions to the world's most pressing problems.</p><br>
          <%= link_to "See what they're up to", forums_path, class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#homeslider" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#homeslider" data-slide="next">&rsaquo;</a>
</div>

